<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowFullAccess</key>
	<true/>
	<key>AllowInternetPlugins</key>
	<false/>
	<key>AllowJava</key>
	<false/>
	<key>AllowMultipleInstances</key>
	<false/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>BackwardCompatibleClassLookup</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>Send SMS</string>
	<key>CFBundleIdentifier</key>
	<string>ch.entropy.widget.hispeedsms</string>
	<key>CFBundleName</key>
	<string>hispeedSMS</string>
	<key>CloseBoxInsetX</key>
	<integer>2</integer>
	<key>CloseBoxInsetY</key>
	<integer>2</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>CFBundleVersion</key>
	<string>1.18</string>
	<key>TargetCFBundleShortVersionString</key>
	<string>1.18</string>
	<key>CFBundleShortVersionString</key>
	<string>1.18</string>
	<key>Width</key>
	<integer>250</integer>
	<key>Height</key>
	<integer>150</integer>
</dict>
</plist>
